@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #0A3871;
    --color-secundario: #FFFFFF;
    --color-terciario: #F3F5FC;
    --color-cuaternario: #495057;
    --color-quinario: #D8DFE8;

    --fuente-primaria: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-terciario);
    font-family: var(--fuente-primaria);
    padding: 2.5rem;
    height: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.desktop {
    gap: 5rem;
    width: 100%;
}

.desktop_contenido {
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

.desktop_contenido_text-area {
    width: 100%;
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    border: 2px solid var(--color-quinario);
    border-radius: 1rem;
    text-transform: lowercase;
    background: none;
    color: var(--color-primario);
    padding: 1rem;
    resize: none;
    height: 30rem;
    margin-bottom: 1rem;
}

.desktop_contenido_text-area::placeholder {
    color: var(--color-cuaternario);
}

.desktop_contenido_text-area:focus {
    outline: none;
}

.desktop_informacion_texto {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-cuaternario);
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.desktop_mensaje {
    width: 35%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background-color: var(--color-secundario);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#output-container {
    width: 100%;
    text-align: center;
    height: 100;
}

.desktop_mensaje_resultado {
    display: none; /* Ocultar por defecto */
    width: 100%;
    height: 100%;
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    resize: none;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    text-align: start;
    min-height: 10rem;
    background: none;

}

.desktop_mensaje_imagen {
    width: auto;
    max-height: 15rem;
    margin-bottom: 1rem;
}

.desktop_mensaje-faltamensaje,
.desktop_mensaje_faltatexto {
    font-family: var(--fuente-primaria);
    text-align: center;
}

.desktop_mensaje-faltamensaje {
    font-size: 1.5rem;
    font-weight: 600;
}

.desktop_mensaje_faltatexto {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1rem;
}

.desktop_mensaje_boton {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

#copy-button {
    border: 2px solid var(--color-primario);
    border-radius: 1.5rem;
    color: var(--color-primario);
    cursor: pointer;
    height: 3.5rem;
    width: 100%;
    max-width: 15rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: none; /* Ocultar por defecto */
}

.desktop_contenido_botones {
    display: flex;
    gap: 1rem;
    padding-left: 0;
    margin-top: 1.5rem;
}

.desktop_contenido_botones_encriptar,
.desktop_contenido_botones_desencriptar {
    border-radius: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 100%;
    max-width: 15rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.desktop_contenido_botones_encriptar {
    background-color: var(--color-primario);
    border: none;
    color: var(--color-secundario);
}

.desktop_contenido_botones_desencriptar {
    background-color: var(--color-secundario);
    border: 2px solid var(--color-primario);
    color: var(--color-primario);
}

@media (max-width: 768px) {
    .desktop {
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }

    .header_menu_logo{
        margin-left: -5%;
    }

    .desktop_contenido, 
    .desktop_mensaje {
        padding-top: 2%;
        margin: 0;
        width: 100%;
    }

    .desktop_mensaje {
        padding: 2%;
        height: 100%;
    }

    .desktop_mensaje_imagen {
        display: none;
    }

    .desktop_mensaje-faltamensaje,
    .desktop_mensaje_faltatexto {
        text-align: center;
    }

    #output-container {
        background-image: none;
        height: auto;
        min-height: none;
    }
}

@media (max-width: 375px) {
    body{
        padding: 1.5rem;
    }

    .desktop {
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }

    .header_menu_logo{
        margin-left: -12%;
    }

    .desktop_contenido_text-area {
        height: 22rem;
    }

}
